<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="false" version="5.0">
  <servlet>
    <description></description>
    <display-name>allart</display-name>
    <servlet-name>allart</servlet-name>
    <servlet-class>org.example.controller.allart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allart</servlet-name>
    <url-pattern>/allart</url-pattern>
  </servlet-mapping>
</web-app>